/********************************************************
                    General Styles
  ******************************************************/

:root {
  --bg-primary: rgb(25, 25, 35);
  --bg-secondary: rgb(45, 45 , 45);
  --icon-primary: rgb(0, 209, 255);
  --icon-secondary: rgb(100, 100, 100);

  --gradient-purple-value: rgb(100, 100, 255);
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--bg-primary);
}

body {
  font-family: sans-serif;
  text-align: center;
  padding-top: env(safe-area-inset-top);
  color: white;
  overflow: hidden;
}

input {
  -webkit-appearance: none; /* Remove default iOS styles */
  -moz-appearance: none;    /* For Firefox */
  appearance: none;

  border-radius: 0;         /* Remove rounded corners */
  background: transparent;  /* Transparent background */
  box-shadow: none;         /* Remove inner shadow */
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: white solid 3px;
  padding: 10px;
  border-radius: 28px;
  width: 150px;
  margin: auto;
}

.screen {
  display: none;
  padding: 20px;
  position: relative;
}

.screen.active {
  display: block;
}


/********************************************************
                    Navigation Bar
  ******************************************************/

.tab-bar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: var(--bg-secondary);
  border: none;
  padding: 10px 0;
}

.tab-bar button {
  background: none;
  border: none;
  cursor: pointer;
}

.tab-bar-icon  {
  width: 24px;
  height: 24px;
  color: var(--icon-secondary);
}

.tab-bar-icon.active {
  color: var(--icon-primary);
}



/********************************************************
                    Home Screen
  ******************************************************/

#add-habit-btn {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gradient-purple-value);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;

  display: flex;           
  align-items: center;
  justify-content: center;
  line-height: 1;
}

#habits-container {
  margin-top: 30px;
  max-height: 69vh;
  overflow: auto; 
}

.day-section {
  margin-bottom: 20px;
}

.day-title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--icon-secondary);
  text-align: left;
}

.habit-card {
  position: relative;
  height: 80px;
  border-radius: 42px;
  margin-bottom: 6px;
  border: 3px solid transparent; /* creates space for gradient border */

  background-image: 
    linear-gradient(var(--bg-secondary), var(--bg-secondary)), /* solid inner fill */
    linear-gradient(to right, var(--icon-primary), var(--gradient-purple-value));    /* gradient border */
  
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
}


.habit-picture-div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  margin-left: -3px;
  background-color: var(--bg-primary);
  border: 3px solid var(--icon-primary);
  flex-shrink: 0;
  
  display: flex;           
  align-items: center;
  justify-content: center; 
  font-size: 32px;
  font-weight: bold;
}

.habit-picture {
  width: 100%;          /* fill the container width */
  height: 100%;         /* fill the container height */
  object-fit: cover;    /* crop/scale image without distortion */
  border-radius: 50%;   /* round edges to match circle */
  display: block; 
}

.habit-name {
  font-size: 20px;
  font-weight: semibold;
  color: white;
  margin-left: 15px;
}

#done-and-overdue-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
#overdue-btn {
  text-align: center;
  padding: 20px;
  border: 3px solid rgba(255, 165, 80, 1);
  border-radius: 38px;
  width: 170px;
  background: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
#done-btn {
  text-align: center;
  padding: 20px;
  border: 3px solid rgba(26, 255, 0, 1);
  border-radius: 38px;
  width: 170px;
  background: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

.done-and-overdue {
  font-size: 18px;
  font-weight: semibold;
}

.habit-check-btn {
  position: absolute;
  right: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  background: none;
  color: white;
}

.habit-completed {
  background: rgba(26, 255, 0, 1);
}


/********************************************************
                    Add Habit Form
  ******************************************************/
.return-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: var(--icon-primary);
  font-size: 24px;
  cursor: pointer;
}

#add-habit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 60px;
  text-align: left;
}

#add-habit-form input {
  padding: 8px;
  font-size: 16px;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid var(--icon-primary);
  margin-bottom: 10px;
  color: white;
}

/* Change text color after a date is selected */
#add-habit-form input[type="date"]:valid::-webkit-datetime-edit {
  color: white;
}

/* Style the calendar picker icon */
#add-habit-form input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(60%); /* makes it gray instead of black */
  opacity: 0.6;
  cursor: pointer;
}

#add-habit-form button {
  background: var(--icon-primary);
  border: none;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/********************************************************
                    Overdue and Done Screens
  ******************************************************/

#overdue-habits-container, #done-habits-container {
  margin-top: 30px;
  max-height: 80vh;
  overflow: auto;
  font-size: 18px;
}

.habit-card-small {
  position: relative;
  height: 60px;
  border-radius: 32px;
  margin-bottom: 6px;
  border: 3px solid transparent; /* creates space for gradient border */

  background-image: 
    linear-gradient(var(--bg-secondary), var(--bg-secondary)), /* solid inner fill */
    linear-gradient(to right, var(--icon-primary), var(--gradient-purple-value));    /* gradient border */
  
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
}

/**************************************************
                    Habit Modal
***************************************************/

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal.hidden {
  display: none;
}
.modal-content {
  position: relative;
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: 12px;
  width: 70%;
  color: white;

  border: 3px solid transparent; /* creates space for gradient border */

  background-image: 
    linear-gradient(var(--bg-secondary), var(--bg-secondary)), /* solid inner fill */
    linear-gradient(to right, var(--icon-primary), var(--gradient-purple-value));    /* gradient border */
  
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.modal-content p {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
  font-weight: 500;
}

.modal-content span {
  color: var(--icon-primary);
}

.modal-content h2 {
  margin: -5px auto 20px auto;
  border: white solid 3px;
  padding: 10px 20px;
  border-radius: 28px;
  width: fit-content;
}

#modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--icon-primary);
}

#edit-habit-btn, #delete-habit-btn {
  padding: 10px 20px;
  margin: 20px 10px 10px 10px;
  border: solid 3px var(--icon-primary);
  border-radius: 21px;
  cursor: pointer;
  font-size: 16px;
  width: 120px;
  background: none;
  color: white;
}
